<!-- <div *ngFor="let tower of cell_towers">
  <h4>{{ tower.tower_id }}</h4>
  <p>{{ tower.operator }}</p>
  <p>{{ tower.address }}</p>
  <p>{{ tower.height }}</p>
  <p>{{ tower.tower_type }}</p>
  <p>{{ tower.latitude }}</p>
  <p>{{ tower.longitude }}</p>
  <p>{{ tower.technology }}</p>
</div> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<div class="container">
    <div class="row">
        <div class="col-md-12">
<div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>tower_id</th>
                        <th>operator</th>
                        <th>address</th>
                        <th>height</th>
                        <th>Tower Type</th>
                        <th>Latitude</th>
                        <th>longitude</th>
                        <th>technology</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><div *ngFor="let tower of cell_towers">
                        <td>{{ tower.tower_id }}</td>
                        <td>{{ tower.operator }}</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td class="toggleDisplay">Td 1</td>
                        <td class="toggleDisplay">Td 2</td>
                        <td class="toggleDisplay">Td 3</td>
                        <td class="toggleDisplay">Td 4</td>
                      </div>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td class="toggleDisplay">Td 1</td>
                        <td class="toggleDisplay">Td 2</td>
                        <td class="toggleDisplay">Td 3</td>
                        <td class="toggleDisplay">Td 4</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td class="toggleDisplay">Td 1</td>
                        <td class="toggleDisplay">Td 2</td>
                        <td class="toggleDisplay">Td 3</td>
                        <td class="toggleDisplay">Td 4</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>